# POSTGRES
# https://hub.docker.com/_/postgres/
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fca
POSTGRES_HOST=postgres
# POSTGRES_HOST_AUTH_METHOD=trust  # not good for prod

# The following is not required since postgres only
# communicates through our internal docker network
# POSTGRES_USER=
POSTGRES_PASSWORD= #enter prod password here, or postgres won't start

# DJANGO
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython