# POSTGRES
# https://hub.docker.com/_/postgres/
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fca
POSTGRES_HOST=postgres
POSTGRES_HOST_AUTH_METHOD=trust

# The following is not required since postgres only
# communicates through our internal docker network
POSTGRES_USER=WiVoIoWmBCTOKdrYrfdBGmajZGORdPtS
POSTGRES_PASSWORD=uxz5maB6zYp9yRH1wt7N515N7A4PxNmT53HAPAfn1a7vrytphwlwL4dq1zCZfYBm

# DJANGO
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython